/*CSS reset */

*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

/*if 0 no extra space*/

/*google font*/
body{
	font-family: 'open sans', sans-serif;
}

nav{
	padding: 0.8rem;
	/*
	padding-top: 0.8rem
	padding-right: 0.8rem
	padding-bottom: 0.8rem
	padding-left: 0.8rem*/

	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
}

/*intro section*/
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header{
	text-align: center;
}

/*contained in the section id intro */
#intro h2, #intro p{
	margin-bottom: 1rem;
}

/*contained in the section id intro */
#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*succeed-info section*/
#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer{
	padding: 0.7rem;
	/*	to create space between the border of the box*/
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer{
	color: white;
	font-weight: bold;
	background-color: #052639;
	font-size: 1.10rem;
	padding: 1rem;
}

#pre-footer .pfooter{
	display: inline-block;
	vertical-align: top;
	min-height: 90px;
	width: 20%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer p{
	font-size: 1rem;
	font-weight: none;
	padding-top: 5px;
	padding-bottom: 0px;
}